/* Publication list with thumbnails */
.example-publications {
  list-style: none;
  padding-left: 24px;
  margin-left: 0;
}

.pub-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.pub-image {
  flex-shrink: 0;
}

.pub-image img {
  width: 160px;
  height: auto;
}

.pub-text {
  position: relative;
  padding-left: 1.2em;
}

.pub-text ul {
  margin: 0;
  padding-left: 0;
}

.pub-text li {
  margin: 0;
}

.pub-bullet {
  position: absolute;
  left: 0;
  top: 0.2em;
  font-size: 1.2em;
  line-height: 1;
}
