---
title: The Yu Lab
description: Machine Learning-Empowered Pathology.
image: ../images/research/22-5472-01A-01-TS1.eb860c81-14fe-4008-a8d9-fb82d095bada.svs_3000_11500.jpg
bottom_image: https://unsplash.it/2000/1322?a=.png
---
<!-- https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png 
44-6148-01A-01-TS1.dc502627-e621-4ddc-a472-d3e438bb1045.svs_21000_10500.jpg
aimedicine5.png
-->

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" style="color:#FF9">The Yu Lab</h1>
			<p class="subtext editable" style="font-size:28px;color:#FF9"><strong>Machine Learning-Empowered Pathology</strong></p>
		</div>
	</div>
	<div class="learn-more"><p style="font-size:24px;color:#FFD700"><a href="#learn-more">What We Do<span class="arrow">&#x25BC;</span></a></p></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Quantitative Pathology</h2>
				<p class="editable">Advancing pathology research and practice by machine learning algorithms.</p>
				<p><a href="https://khyulab.github.io/research/">Research Summary</a></p>
			</div>
			<div class="image">
				<img class="editable" src="../images/research/05-4384-01A-01-TS1.e4d430ce-bc0e-4446-8a7a-bb831e1285ac.svs_19000_6500_Outlines.png" alt="Quantitative Pathology" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Integrative Multi-Omics</h2>
				<p class="editable">Incorporating cancer pathology with multi-omics and clinical profiles.</p>
				<p><a href="https://khyulab.github.io/research/">Research Summary</a></p>
			</div>
			<div class="image">
				<img class="editable" src="../images/research/cellsystems2017FigureS3.png" alt="Multi-Omics" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable"><a href="https://khyulab.github.io/open_positions/">Join Us!</a></h2>
				<p class="subtext editable"> </p>
			</div>
		</div>
	</section>
</div>
